.inputs-container {
  padding: 1em;
}

.inputs {
  background: var(--input-bg);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 10px;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.1);
}

.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  gap: 0.5em;
}

.input label {
  font-size: var(--fs-label);
}

.input input {
  width: 100%;
  padding: 0.33em;
  outline: none;
  border: none;
}

.input input:is(:active, :hover):is(:valid) {
  outline: 1px solid rgba(0, 255, 0, 0.6);
  box-shadow: 0 0 0.25rem rgba(10, 255, 35, 0.6);
}

.input input:is(:active, :hover):is(:invalid) {
  outline: 1px solid red;
  box-shadow: 0 0 0.25rem rgba(255, 10, 35, 0.6);
}

/*Remove Inputs up and down arrows*/
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
