.table-container {
  display: flex;
  justify-content: center;
  padding: 1em 2em;
}

table {
  flex: 1;
  border-collapse: separate;
  border-spacing: 10px;
}

th,
td {
  text-align: right;
  vertical-align: baseline;
}

th {
  color: var(--th-color);
  font-size: var(--fs-th);
}
