@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
  --text-color: #dfedeb;
  --input-bg: linear-gradient(
    180deg,
    rgba(48, 126, 108, 1) 0%,
    rgba(43, 152, 109, 1) 100%
  );
  --th-color: #7fffd4;
  --fs-label: clamp(0.6rem, 2vw, 1.6rem);
  --fs-th: clamp(0.8rem, 1vw, 1.2rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  min-width: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  max-width: var(--max-paragraph-width);
  text-wrap: pretty;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

header {
  text-align: center;
}

#root {
  display: flex;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 768px;
  text-align: center;
  /* border: 1px solid black; */
  gap: 10px;
}

main > * {
  /* border: 1px solid purple; */
}

/* 
#header {
}

#header img {
}

#header h1 {
}

#user-input {
}

.input-group {
}

#user-input label {
}

#user-input input {
}

#result {
}

#result thead {
}

#result tbody {
}

.center {
} */
